.page-dashboard__user-profile-info {
    background-color: #fff;
    text-align: center;
    padding: 40px 20px;
    margin: 0;
    margin-bottom: 13px;
    border: 1px solid #e5e5e5;
    margin-top: 31px;
}

.page-dashboard__user-profile-info .avatar.img-circle {
    padding: 0;
    border: 1px #E5E5E5 solid;
    background: #fff;
    width: 95px;
    margin: auto;
    margin-bottom: 15px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.page-dashboard__jobs-list {
    background-color: #fff;
    border: 1px #e5e5e5 solid;
    padding: 15px;
}

